<table style="border: 1px solid black;">
  <thead >
    <tr>
      <th style="border: 1px solid black;">Title</th>
      <th style="border: 1px solid black;">Level</th>
      <th style="border: 1px solid black;">Questions count</th>
    </tr>
  </thead>
  <tbody>
  <% @tests.each do |test| %>
    <tr>
      <td style="border: 1px solid black;"><%= link_to test.title,  test_path(test)%></td>
      <td style="border: 1px solid black;"><%= test.level %></td>
      <td style="border: 1px solid black;text-align: center;"><%= test.questions.count %></td>
      <td style="border: 1px solid black;"><%= button_to "Start", start_test_path(test) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
